<h1 class="title">
  <span class="lang-en">{{site.skills_title}}</span>
  <span class="lang-kr">{{site.data.i18n.skills_title}}</span>
</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">
    <span class="lang-en">All</span><span class="lang-kr">{{site.data.i18n.skills_filter_all}}</span>
  </label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">
    <span class="lang-en">Languages</span><span class="lang-kr">{{site.data.i18n.skills_filter_languages}}</span>
  </label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">
    <span class="lang-en">Frameworks</span><span class="lang-kr">{{site.data.i18n.skills_filter_frameworks}}</span>
  </label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">
    <span class="lang-en">Tools</span><span class="lang-kr">{{site.data.i18n.skills_filter_tools}}</span>
  </label>

  {% for language in site.data.skills-languages %}
    <div skill-type="language" skill-weight="{{language.weight}}" data-aos="zoom-in">
      {{language.name}}
    </div>
  {% endfor %}
  {% for framework in site.data.skills-frameworks %}
    <div skill-type="framework" skill-weight="{{framework.weight}}" data-aos="zoom-in">
      {{framework.name}}
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">
      {{tool.name}}
    </div>
  {% endfor %}
</div>
