<h1 class="title">
  <span class="lang-en">{{site.skills_title}}</span>
  <span class="lang-kr">{{site.data.i18n.skills_title}}</span>
</h1>

<div class="skills-list">
  <div class="skills-row" data-aos="fade-up">
    <div class="skills-label">
      <span class="lang-en">Languages</span>
      <span class="lang-kr">{{site.data.i18n.skills_filter_languages}}</span>
    </div>
    <div class="skills-tags">
      {% for item in site.data.skills-languages %}
      <span class="tag neumorphism-card">{{item.name}}</span>
      {% endfor %}
    </div>
  </div>
  <div class="skills-row" data-aos="fade-up">
    <div class="skills-label">
      <span class="lang-en">Frameworks</span>
      <span class="lang-kr">{{site.data.i18n.skills_filter_frameworks}}</span>
    </div>
    <div class="skills-tags">
      {% for item in site.data.skills-frameworks %}
      <span class="tag neumorphism-card">{{item.name}}</span>
      {% endfor %}
    </div>
  </div>
  <div class="skills-row" data-aos="fade-up">
    <div class="skills-label">
      <span class="lang-en">Tools</span>
      <span class="lang-kr">{{site.data.i18n.skills_filter_tools}}</span>
    </div>
    <div class="skills-tags">
      {% for item in site.data.skills-tools %}
      <span class="tag neumorphism-card">{{item.name}}</span>
      {% endfor %}
    </div>
  </div>
</div>
